# Python
__pycache__/
*.pyc

# Virtual env
.venv/
venv/

# Environment
.env

# Vector DB
vector_store/

# Uploaded docs
data/documents/
data/generated_rfps/
data/rfp_templates/
data/chat_history/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log
